.marquee-inner {
    animation: marqueeScroll linear infinite;
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-width)));
    }
}