<div class="flex flex-col items-center mb-4">

    @if (hasTitle() || hasDescription()) {
        <div class="text-center mt-12 mb-8 md:w-4/5 mx-auto">
            @if (hasTitle()) {
                <h1>{{title()}}</h1>
            }
            <hr class="border-t-2 border-dashed mt-1 mb-4">
            @if (hasDescription()) {
                <p>{{description()}}</p>
            }
        </div>
    }
    
    <div class="w-full flex justify-center">
        <ng-content></ng-content>
    </div>

</div>
