@reference "#app.css";

:host {
    @apply w-full shadow-md sticky top-0 z-50;

    &.white {
        @apply bg-white;

        .nav-item {
            @apply underline-lime-300 text-gray-600 hover:text-gray-800 focus:text-gray-800;
        }

        .burguer {
            @apply text-cobalt-500 hover:text-cobalt-700 focus:text-cobalt-700
            hover:bg-gray-100 focus:bg-gray-100;
        }

        .mobile-nav-list {
            @apply bg-golden-50;

            .mobile-nav-item {
                @apply hover:bg-golden-100 focus:bg-golden-100;

                &:hover, &:focus {
                    &::before, &::after {
                        width: 5px;
                        background-color: var(--color-golden-400);
                    }
                }
            }
        }
    }

    &.blue {
        @apply bg-primary;
        
        .nav-item {
            @apply underline-yellow-300 text-gray-300 hover:text-gray-50 focus:text-gray-50;
        }

        .burguer {
            @apply  text-gray-300 hover:text-gray-50 focus:text-gray-50
            hover:bg-cobalt-700 focus:bg-cobalt-700;
        }

        .mobile-nav-list {
            @apply bg-cobalt-50;

            .mobile-nav-item {
                @apply hover:bg-cobalt-100 focus:bg-cobalt-100;

                &:hover, &:focus {
                    &::before, &::after {
                        width: 5px;
                        background-color: var(--color-cobalt-400);
                    }
                }
            }
        }
    }
}

.nav-list {
    @apply flex space-x-6 font-medium;
    
    .nav-item {
        @apply focus:outline-none transition-colors cursor-pointer underline-space
        underline-scale-x-0 underline-origin-right underline-transition-[300ms]
        hover:underline-scale-x-1 hover:underline-origin-left
        focus:underline-scale-x-1 focus:underline-origin-left;
    }
}

.burguer {
    @apply focus:outline-none flex cursor-pointer rounded p-1;
}

.mobile-nav-list {
    @apply md:hidden inset-shadow-sm;

    .mobile-nav-item {
        @apply block relative text-center px-4 py-2 text-gray-700 font-bold
        hover:font-black hover:text-gray-900 focus:text-gray-900 focus:outline-none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: all 0.2s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            transition: all 0.2s ease-in-out;
        }
    }
}