.container {
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 90dvw;
    max-height: fit-content;
    clip-path: polygon(0 0, 0 80%, 50% 100%, 100% 80%, 100% 0);
}

img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4 / 5;
}