@reference "#app.css";

.hero {
    width: 100%;
    aspect-ratio: 12 / 5;
}

.hero-cover {
    @apply bg-cobalt-900/50;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    clip-path: none;
    aspect-ratio: 12 / 5;
    width: 100%;

    will-change: clip-path;
    transform: translateZ(0);
    
    @media (width >= 40rem) {
        @apply bg-primary;
        aspect-ratio: 1 / 1;
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 40% 50%, 0% 0%);
        width: auto;
    }
}

.img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media (width >= 40rem) {
        width: 75%;
        height: auto;
        aspect-ratio: 9 / 5;
    }
}

