<div class="relative hero">
    <div class="img">
        <video class="w-full h-full object-cover object-center"
        [autoplay]="true" [loop]="true" [muted]="true" [draggable]="false">
        <source src="videos/hero-banner-1.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
        </video>
    </div>
    <div class="hero-cover">
        <div class="sm:ml-[35%] px-5 flex sm:flex-col h-full justify-around sm:items-stretch items-center">
            <img src="images/small-logo.svg" class="sm:w-full w-[30%] sm:flex-3"/>
            <h4 class="h3 flex-2 font-primary text-white font-bold w-full text-center align-middle">¡Te garantizamos el mejor precio y la mejor calidad!</h4>
        </div>
    </div>
</div>