<div class=" bg-primary flex flex-col lg:flex-row gap-y-6 md:gap-y-0 text-white px-12 py-8">
    <div class="flex-2 px-3 flex flex-col">
        <div class="mb-5 sm:mx-0 mx-auto"> 
            <h5 class=" md:text-md text-2xl">Redes sociales</h5>
            <div class="flex gap-2 sm:justify-start justify-center">
                <a href="https://www.facebook.com/" class="flex items-center justify-center px-1">
                    <ng-icon name="ionLogoFacebook" class="text-3xl"></ng-icon>
                </a>
                <a href="https://www.facebook.com/" class="flex items-center justify-center px-1">
                    <ng-icon name="ionLogoWhatsapp" class="text-3xl"></ng-icon>
                </a>

            </div>
        </div>
        
        <a [routerLink]="['/']">
            <img [src]="'images/logo.svg'" class="w-5/6 mx-auto">
        </a>
        
    </div>

    <div class="flex-3 flex sm:flex-row flex-col sm:justify-around justify-between gap-y-8">
        <div class="sm:mx-2 mx-auto">
            <h5 class="md:mb-6 mb-2 md:text-md text-2xl">Explora</h5>
            <ul>
                <li><a [routerLink]="['/']">Inicio</a></li>
                <li><a [routerLink]="['/']">Servicios</a></li>
                <li><a [routerLink]="['/']">Productos</a></li>
                <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
                <li><a [routerLink]="['/']">Certificados</a></li>
                <li><a [routerLink]="['/']">Contáctanos</a></li>
            </ul>
        </div>

        <div class="sm:mx-2 mx-auto">
            <h5 class="md:mb-6 mb-2 md:text-md text-2xl text-center">Contáctanos</h5>
            <ul class="flex flex-col gap-2">
                <li class="flex gap-2">
                    <ng-icon name="ionLocationOutline" class="text-xl"></ng-icon>
                    <div class="flex flex-col">
                        <p>Cal. Sin Nombre Mza. J Lote. 12</p>
                        <p>U.v. Pedro Ruiz Gallo  Prov. Const. del Callao</p>
                        <p>Prov. Const. del Callao - Callao</p>
                        <p>Mza. B Lote. 10 A.h. Las Malvinas - Tumbes</p>
                    </div>
                </li>
                <li class="flex gap-2">
                    <ng-icon name="ionCallOutline" class="text-xl"></ng-icon>
                    <div class="flex flex-col">
                        <p>976573347</p>
                        <p>981951590</p>
                        <p>999668835</p>
                    </div>
                </li>
                <li class="flex gap-2">
                    <ng-icon name="ionMailOutline" class="text-xl"></ng-icon>
                    <div class="flex flex-col">
                        <p>riogue.23@gmail.com</p>
                        <p>soporteonside@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>
    
        <!-- <div class="">
            <h5 class="md:mb-6 mb-2">Explora</h5>
            <ul>
                <li><a [routerLink]="['/inicio']">Inicio</a></li>
            </ul>
        </div> -->

    </div>
</div>